button {
  color: red;
  font-weight: bold;
  font-size: 900%;
  text-transform: uppercase;
  background-color:white;
  border-radius:4px;
  cursor:pointer;
  transition-duration: 0.4s;
   border: 2px solid red;
   display: inline-block;
}
button:hover {
    background-color:red;
color:white;	
	
	
	
	
	
}

#left{
	margin-top:1%;
	margin-bottom:1%;
	font-size:150%;
	font-family:Optima, sans-serif;
	
	
	
}
